.messenger {
    display: flex;
    flex-direction: column;
    // height: calc(100vh - 10px);
    height: 100vh;
    padding: 10px;
    flex: 6.5;
}

// Tippy tool tip
.tool-tip {
    font-size: 1rem;
}

// Messenger header
.messenger-header {
    display: flex;
    align-items: center;
}

.avatar-image {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.info {
    flex: 1;
    line-height: 18px;
}

.username {
    font-size: 1.6rem;
}

.time-online {
    font-size: 1.1rem;
    color: var(--text-opacity);
}

.icon {
    font-size: 1.4rem;
    margin: 0 6px;
    cursor: pointer;

    &:hover {
        opacity: 0.6;
    }
}

.btn-click-icon {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

// Messenger body
.messenger-body {
    overflow-y: scroll;
    height: 100%;
    margin: 10px 0 10px 0;
    padding: 10px;
    border-radius: 6px;
    background-color: var(--grey-400);
}

// Messenger footer
.messenger-footer {
    display: flex;
    flex-direction: column;
}

.toolbar-on-chat-input {
    display: flex;
    margin-bottom: 10px;
}

.option-image-icon, .option-file-icon {
    padding: 6px;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
        border-radius: 4px;
        background-color: var(--grey-400);
    }
}

.option-icon {
    font-size: 1.4rem;
}

// hide option icon image
.hide {
    display: none;
}

// Menu option file
.menu-option-file {
    display: flex;
    flex-direction: column;
}

.option-file-btn {
    display: flex;
    justify-content: flex-start;
    border: none;
    outline: none;
    padding: 6px;
    font-size: 1.2rem;
    background-color: transparent;
    cursor: pointer;

    .hide-option-file-btn {
        margin: auto;
        display: none;
        cursor: pointer;
    }

    &:hover {
        background-color: var(--grey-400);
    }
}

.option-file-btn-fix {
    font-size: 1.3rem;
    font-weight: 400;
    padding: 6px;
    cursor: pointer;

    &:hover {
        background-color: var(--grey-400);
    }
}

.sub-menu-icon-footer {
    margin-right: 6px;
}

// Message 
.message-container {
    display: flex;
    align-items: center;
    position: relative;
}

.message-input {
    text-align: justify;
    padding-top: 14px;
    padding-left: 14px;
    padding-right: 90px;
    border-radius: 4px;
    font-size: 1.4rem;
    flex: 1;
    resize: none;

    &:focus {
        outline: none;
        border-color: var(--primary);
    }
}

.send-message-btn, .icon-right, .send-message-like {
    position: absolute;
    bottom: 10px;
    top: 10px;
    right: 20px;
    padding: 6px;
    border: none;
    outline: none;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--primary);
    background-color: transparent;
    cursor: pointer;

    &:hover {
        border-radius: 4px;
        background-color: var(--grey-400);
    }
}

.icon-right {
    top: 12px;
    right: 60px;
    color: var(--text-opacity);
}