body{
    background-color: #87CEFA;
    width: 100%;
}
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.logo-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

    border-radius: 50%
    
}
.wrapper{
    height: 750px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
.login-title{
    font-family:var(--font-family);
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    color: black;
}
.login-form{
    margin-top: 20px;
    width: 100%;
    height: 400px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-sizing: border-box;
    font-family:var(--font-family);
}
.form-phoneNumber
{
    display: flex;
    width: 70%;
    height: auto;
    margin-left: 15%;
    border-bottom : solid 0.5px #D3D3D3;
  
}
.form-phoneNumber input
{
    width: 80%;
    height: 40px;
    margin-left: 8%;
    margin-top: 80px;
    margin-bottom: 10px;
   border: 0;
   outline: 0;
   font-size: 2rem;
    background: transparent;
   transition: border-color 0.2s;
}
.form-phoneNumber .item
{
    
    font-size: 40px;
    width: 10%;
    margin-top: 80px; 

}
.form-password
{
    display: flex;
    width: 70%;
    height: auto;
    padding-top: 50px;
    margin-left: 15%;
    border-bottom : solid 0.5px #D3D3D3;
}
.form-password .password-item
{
    font-size: 40px;
    width: 10%;
}
.form-password input 
{
    font-family:var(--font-family);
    width: 80%;
    height: 40px;
    margin-left: 8%;
    margin-bottom: 10px;
   border: 0;
   outline: 0;
   font-size: 2rem;
   background: transparent;
   transition: border-color 0.2s;
}
.form-button button
{
    margin-top: 50px;
    margin-left: 15%;
    width: 70%;
    height: 40px;
    background-color: #87CEFA;
    border-radius: 10px;
    cursor: pointer;
    font-family:var(--font-family);
    border: 0;
    font-size: 1.8rem;
}
.form-forget{
   padding-top: 15px;
   text-align: center;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}
.form-register
{
    padding-top: 20px;
    font-size: 8px;
    font-family:var(--font-family);
    text-align: center;
   
}
.form-register .form-register-register
{
    text-decoration: none;
}
.form-register a{
    text-decoration: underline;
    margin-right: 5px;
}

