.wrapper {
    display: flex;
    width: 100%;
}
.wrapper-center {
    flex: 2.7;
    border-right: solid 0.5px #D3D3D3;
}

// Search info
.search-info {
    display: flex;
    align-items: center;
}

// Items (add friend, create group)
.items {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    margin-top: 10px;
    margin-left: 12px;
    cursor: pointer;
}

.item {
    margin-right: 12px;

    &:hover {
        opacity: 0.6;
    }
}
.add-friend
{
    display: flex;
    margin-top: 10px;
    line-height: 50%;
    height: 50px;
    cursor: pointer;
    &:hover {
        opacity: 0.6;
        background-color:var(--bg-message);
        color: black;
    }

}
.add-friend .item
{

    align-items: center;
    font-size: 30px;
    color: var( --primary);
     margin-top: 8px;
    margin-left: 10px;
    cursor: pointer;
}
.add-friend h2
{
    font-size: 16px;
       margin-top: 21px;
    margin-left: -5px;
    
    font-family: var( --font-family) ;
}
.list-addfriend
{
    display: flex;
    height: 70px;
    cursor: pointer;
    &:hover {
        opacity: 0.6;
        background-color:var(--bg-message);
        color: black;
    }

}
.list-addfriend .list-addfriend-image
{
    height: 45px;
    width: 45px;
    margin-top: 11px;
    margin-left: 10px;
}
.list-addfriend .list-addfriend-title
{
    margin-top: 24px;
    font-family: var( --font-family) ;
    font-size: 18px;
    margin-left: 10px;
    
}
.list-friend
{
    border-top: solid 0.5px #D3D3D3;
}
.list-friend h1
{
    font-family: var( --font-family) ;
    font-size: 14px;
    margin-left: 10px;
    margin-top: 10px;
}          

///Rightbar--------------------------------------------
.wrapper-rightbar
{
    flex: 6.5;
    width: 100%;
    background-color:#E8E8E8;

}
.wrapper-rightbar .header
{
    height: 70px;
    border-bottom: solid 0.5px #D3D3D3;
    background-color: white;
}
.list-addfriend .list-addfriend-title2
{
    margin-top: 20px;
    font-family: var( --font-family) ;
    font-size: 24px;
    margin-left: 10px;
}

.list-BoxChat
{
    height: calc(100vh - 80px);
    overflow-y: scroll;
}
.list-BoxChat::-webkit-scrollbar-thumb
{
   
    background-color: rgb(150, 147, 147);
}

.fix-layout {
    flex: 2.5;
}

