
.wrapper {
    display: flex;
    width: 100%;
    position: relative;
}

.loading-icon {
    position: absolute;
    margin: auto;
    top: 300px;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 3.2rem;
}