.wrapper {
    display: flex;
    align-items: center;
    flex: 2.7; //1
    margin-top: 10px;
    margin-left: 10px;
    position: relative;
}

// search
.search {
    display: flex;
    align-items: center;
    flex: 2.7; //1
    margin-right: 2px;
    position: relative;
}

// icon search
.icon-search {
    position: absolute;
    left: 0;
    padding: 6px;
    font-size: 1.2rem;
    cursor: pointer;

    &:hover {
        opacity: 0.6;
    }
}

// input search
.input-search {
    display: flex;
    flex: 1.7; //1
    padding: 6px;
    padding-left: 26px;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 400;
    border: 1px solid var(--grey-400);
    background-color: var(--grey-400);

    &:focus {
        border: 1px solid var(--primary);
        outline: none;
        background-color: transparent;
    }
}

// clear button
.clear-btn, .loading-icon {
    position: absolute;
    right: 84px;
    font-size: 1.2rem;
    border: none;
    outline: none;
    color: var(--text-opacity);
    background-color: transparent;
    cursor: pointer;

    &:hover {
        opacity: 0.6;
        color: var(--primary);
    }
}

// icon loading
.loading-icon {
    cursor: default;
    animation: spinner 1s linear infinite;
}
@keyframes spinner {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.items {
    display: flex;
    // flex: 1; //
    align-items: center;
    font-size: 1.4rem;
    margin-left: 12px;
}

.item {
    &:hover {
        opacity: 0.6;
    }
}

// Menu list search
.menu-list-search {
    width: 328px;
    height: calc(100vh - 60px);
    overflow-y: scroll;
    overflow-y: overlay;
}

.menu-search-title {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 6px;
    color: var(--text);
}

// Button close result search
.close-result-search-btn {
    border: none;
    outline: none;
    padding: 6px;
    margin-left: 10px;
    margin-right: 25px;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: transparent;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
        border-radius: 4px;
        background-color: var(--grey-400);
    }
}

// Tippy tool tip
.tool-tip {
    font-size: 1rem;
}

.btn-click-icon {
    border: none;
    outline: none;
    margin-right: 16px;
    background-color: transparent;
    cursor: pointer;
}